= form_for @work do |w|
  - @work.errors.full_messages.each do |e|
    = e
  #work
    = w.label :title
    = w.text_field :title
  #chapter
    = w.fields_for :chapters do |c|
      = c.label :content
      %br
      = c.text_area :content
  = w.submit "Submit"
